<div class="h-screen grid place-content-center font-mono">
  <div class="place-content-center bg-slate-200 m-8">
    <div class="grid m-8 space-y-4">
      <h1 class="">Регистрация</h1 >
      <%= form_tag('/users') do -%>
        <div class="space-y-4">
        <div class='form-field'>
          <%=label_tag 'email', 'Почта' %>
          <%=text_field_tag 'user[email]'%>
        </div>
        <div class='form-field'>
          <%=label_tag 'name', 'Имя' %>
          <%=text_field_tag 'user[name]'%>
        </div>
        <div class='form-field'>
          <%=label_tag 'pwd', 'Пароль' %>
          <%=text_field_tag 'user[pwd]'%>
        </div>
        <div class='flex place-content-center p-2 rounded-full border-solid border-2 border-gray-500 form-field bg-sky-500 hover:bg-sky-700 active:bg-red-600'>
          <%= submit_tag 'Зарегистрироваться' %>
        </div>
        </div>
      <% end -%>
      <%= button_to 'Авторизация', '/auths/login', method: :get%>
    </div>


  </div>

</div>