<h2>Чат: <%= @chat.name %></h2>
<% puts chats_path%>
<%= form_with(model: [@chat, @chat.messages.build], url: '/message/', method: :post) do |form| %>
  <div class='form-field'>
    <%= form.text_area :content, placeholder: 'Введите ваше сообщение' %>
  </div>
  <div class='form-field'>
    <%= form.submit 'Отправить' %>
  </div>
<% end %>
<h3>Сообщения в чате:</h3>
<% @chat.messages.each do |message| %>
  <div class='message'>
    <strong><%= message.user.name %>:</strong>
    <%= message.content %>
    <% if current_user && current_user.id == message.user.id %>
      <%= link_to 'Удалить', message_path(@chat.id, message.id), method: :delete, data: { confirm: 'Вы уверены?' } %>
      <%= link_to 'Редактировать', message_path(@chat.id, message.id), method: :patch %>
    <% end %>
  </div>
<% end %>
<%= link_to 'Назад к чатам', chat_lists_path %>