<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(document).ready(function() {
    $('/auths').submit(function(e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: $(this).serialize(),
        success: function(response) {
          // Обновление содержимого страницы или редирект, если нужно
        },
        error: function(response) {
          // Обновление сообщений об ошибках
          $('#error-messages').html(response.responseText);
        }
      });
    });
  });
</script>
<div class="h-screen grid place-content-center font-mono bg-gradient-to-r from-gray-800 to-slate-900">
  <div class="place-content-center bg-slate-200 m-8">
    <div class="grid m-8 space-y-4">
      <h1 class="">Авторизация</h1 >
      <%= form_tag('/auths') do -%>
        <div class="space-y-4">
        <div class='form-field'>
          <%=label_tag 'email', 'Почта' %>
          <%=text_field_tag 'auth[email]'%>
        </div>
        <div class='form-field'>
          <%=label_tag 'pwd', 'Пароль' %>
          <%=text_field_tag 'auth[pwd]'%>
        </div>
        <div class='flex place-content-center p-2 rounded-full border-solid border-2 border-gray-500 form-field bg-sky-500 hover:bg-sky-700 active:bg-red-600'>
          <%= submit_tag 'Авторизироваться' %>
        </div>
        <% if flash.now[:alert] %>
          <p class="error"><%= flash.now[:alert] %></p>
        <% end %>
        </div>
      <% end -%>
      <%= button_to 'Регистрация', '/users/new', method: :get %>
    </div>
  </div>
</div>