<div class="place-content-center text-sky-400">
  <h1 class="font-mono">Авторизация</h1>
  <%= form_tag('/auths') do -%>
    <div class='form-field'>
      <%=label_tag 'email', 'Почта' %>
      <%=text_field_tag 'auth[email]'%>
    </div>
    <div class='form-field'>
      <%=label_tag 'pwd', 'Пароль' %>
      <%=text_field_tag 'auth[pwd]'%>
    </div>
    <div class='form-field'>
      <%= submit_tag 'Отправить' %>
    </div>
  <% end -%>

</div>